{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block main %}
    {{form_start(pizzaform)}}
        {{form_widget(pizzaform)}}
        <button>Ajouter</button>
    {{form_end(pizzaform)}}

    {% for message in app.flashes('success') %}
        <div class="success alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h2>Pizza</h2>
    <p>Ingrédient secret</p>

    {% for pizza in pizzas %}
        <div>
            <h2> {{ pizza.pizza }} </h2>
            <p> {{ pizza.ingredientsecret }} </p>
            <a href= {{path('update_pizza',{'id' : pizza.id})}} >Modifier</a>
            <form action="POST" onsubmit="return confirm('Confimer la suppression ?')" action=" {{ path('delete_pizza', {'id': pizza.id}) }} ">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="_token" value="{{csrf_token('COUCOU' ~ pizza.id)}}">
                <input type="submit" id="delete" value="Supprimer">
            </form>
        </div>
    {% endfor %}

{% endblock %}
